.admin-table
{
    font-family: 'Palanquin', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.admin-table td, .admin-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.admin-table th {
    background-color: black;
    color: white;
}
tr:nth-child(even) {
    background-color: #dddddd;
}